{{ template "base" . }}

{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }}

    <section>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                    <h2 class="py-2">About ChristianSam</h2>
                    <p>I am a student passionate about technology. My curiosity for the digital world and technological innovation is insatiable. I am always looking to learn more about the latest technology trends, advances in hardware and software, as well as new applications and devices.</p>
                    <p>My technical skills are solid, and I am constantly working on improving them. I pride myself on my ability to program, administer systems, design websites, and keep up with cybersecurity.</p>
                    <p>Actively participating in the tech community is something I am passionate about. I joined study groups, online forums and tech events to learn and share knowledge with other tech enthusiasts. Contributing to open source projects gives me a sense of accomplishment and the opportunity to collaborate with talented people.</p>
                    <p>I am always looking for innovative ways to apply technology to solve problems and improve people's lives. My creative mind never stops generating ideas and technological projects.</p>
                    <ul class="py-3">
                        <li><a href="https://www.linkedin.com/in/christian-sambachi-491782174/">Linkedin</a></li>
                        <li><a href="https://github.com/chriscarsam">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>    

    
{{ end }}