{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }}</title>
</head>
<body>
    
    <header>
        <div>
            <a href="/">RPS</a>
        </div>
        <nav>
            <a href="/new">New</a>
            <a href="/about">About</a>
        </nav>
    </header>

    {{ template "content" . }}

    <footer>
        <p>Create by CharlyTest &copy; 2023</p>
    </footer>

</body>
</html>
{{ end }}